/** APP **/
.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}

.app-header h3 {
  color: white;
  text-shadow: 0px 0px 8px rgba(237, 239, 241, 0.25);
  margin-bottom: 50px;
}

.app-header h4 {
  color: white;
  text-shadow: 0px 0px 8px rgba(237, 239, 241, 0.25);
  margin-bottom: 20px;
  margin-top: 100px;
}

/** CARDS GLOBAL **/
.card {
  width: 750px;
  margin-bottom: 30px;
  text-align: center;
  color: white !important;
  border: 1px solid #1976d2;
  background-color: #282c34 !important;
  box-shadow: 0px 0px 6px 2px rgba(25, 118, 210, 0.25) !important;
}

.card-info {
  width: 400px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  color: white !important;
  border: 1px solid #fcbf1e;
  background-color: #282c34 !important;
  box-shadow: 0px 0px 6px 2px rgb(250, 235, 24) !important;
}

.card-form {
  border: 1px solid #40bad5;
  box-shadow: 0px 0px 6px 2px rgba(255, 251, 31, 0.25) !important;
}

.card-form-table {
  border: 1px solid #fcbf1e;
  box-shadow: 0px 0px 6px 2px rgba(255, 240, 31, 0.25) !important;
}

.card span,
p {
  color: white !important;
}

.card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.space {
  padding-bottom: 20px;
}

/** AVATAR **/
.avatar1 {
  box-shadow: 0px 0px 6px 2px rgba(33, 150, 243, 0.25) !important;
}

.avatar2 {
  box-shadow: 0px 0px 6px 2px rgba(33, 150, 243, 0.25) !important;
}

.avatar3 {
  box-shadow: 0px 0px 6px 2px rgba(33, 150, 243, 0.25) !important;
}

/** ICONS **/
.color1 {
  color: #035aa6;
}

.color2 {
  color: #035aa6;
}

.color3 {
  color: #035aa6;
}

/** FORM **/
input {
  width: 210px;
  color: white;
  font-size: 15px;
  line-height: 1.6;
  padding: .5rem 1rem;
  border-radius: .25rem;
  margin: 10px 10px 10px 10px;
  border: 1px solid #40bad5;
  background-color: transparent;
  box-shadow: 0px 0px 6px 2px rgba(255, 251, 31, 0.25);
}

input:focus {
  outline: none;
  border: 2px solid #40bad5;
}

/** TABLE **/
.MuiSelect-select.MuiSelect-select {
  color: white;
}

.MuiSelect-icon {
  color: white !important;
}

th,
td {
  color: white !important;
  text-align: center !important;
  border-bottom: 1px solid #fcbf1e !important;
  box-shadow: 0 3px 2px -2px rgb(250, 235, 24) !important;
}

th {
  font-weight: bold !important;
}

/** PARTICLES **/
.particles {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: fixed;
}

/** SELECTION SITE WEB **/
::selection {
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.25);
}

::-moz-selection {
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.25);
}

/** BODY SCROLL **/
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #282c34;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.4);
}

.button-container{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.parrafo-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.pandemenu{
  padding: 10px;
  background-color: transparent;
  border: 1px transparent;
  font-size: 22px;
  color: white;
  text-decoration: none;
}

p{
  width: 45%;
  text-align: center;
  font-size: 25px;
}

.title-container{
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
}

.a-menu{
  float: right;
  margin-left: 50px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.MuiToolbar-root{
  display: flex;
  justify-content: space-between;
}

.MuiAppBar-colorPrimary{
  background-color: #035aa6 !important;
}

.MuiButton-label {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.text-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.input-country{
  margin-top: 25px;
}

/*Footer Container*/
.footer-container{
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: black;
  color: white;
  display: inline-flex;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 100px;
}